#notes-wrapper {
  background-color: var(--lightDarkColor);
  background-color: var(--darkColor);
  padding: 0;
  border-radius: 1rem;
}
.notes {
  height: 17rem;
  padding: 1rem;
  font-size: 1.4rem;
  /* padding: 0.2rem 1rem; */
  color: rgba(255, 255, 255, 0.75);
}
.notes > h4 {
  height: 2.4rem;
  margin: 0;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(255, 255, 255, 0.315);
}
.notes > p {
  height: 13rem;
  margin: 0;
  overflow-x: hidden;
}

.details-menu-section {
  position: relative;
  height: 3rem;
  background-color: var(--lightDarkColor);
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}
.note-menu-icon {
  font-size: 2.8rem !important;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 0rem;
  top: -6.8rem;
  background-color: var(--lightDarkColor);
}

.menu-btn {
  font-size: 1.4rem;
  padding: 0.4rem 1.8rem;
  color: rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: gainsboro;
}
