:root {
  --veryDarkBackgroundColor: #371b58;
  --darkColor: #4c3575;
  --lightDarkColor: #5b4b8a;
  --lightColor: #7858a6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
